# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
**/.env.*

# Next.js and build output
.next/
**/client/.next/
out/
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
